*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #post-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #post-image {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
    object-fit: contain;
  }

  #post-content {
    line-height: 1.6;
  }